
exercice 1/crawler/\.project

exercice 1/crawler/\.settings/

exercice 1/crawler/\.classpath

exercice 1/crawler/target/

exercice 1/mapReduce/node_modules/
exercice 2/node_modules/



exercice 1/mapReduce/output_exercice1_mapReduce\.log

exercice 2/output_exercice2\.log
